---
layout: default
---
<div class="index">
    <h1>The Good Pub Guide</h1>

    <p class="lead">Welcome to the website that chronicles the daring exploits of 10 young Northamptonian men as they battle their way through Northamptonshire's best pubs. Where will they go? What will they see? Read on to find out.</p>

    <p class="lead">We last visited <a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a>.</p>

    <p>If you'd like to get in touch, reach out on Twitter (<a href="https://twitter.com/nptongoodpubs">@nptongoodpubs</a>) where you can also follow our live-blogging of each pub!</p>

    <p>If you'd like to be kept up to date then please <a href="https://twitter.com/nptongoodpubs">follow us on Twitter</a> and <a href="/feed.xml">subscribe to our blog.</a></p>

    <div class="twitter">
        <a class="twitter-timeline" href="https://twitter.com/nptongoodpubs" data-widget-id="722851284080963584" data-width="520">Tweets by @nptongoodpubs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
