---
layout: page
title: The Plan
permalink: /the-plan/
---
<ol class="lead">
    <li>Every month pick a pub</li>
    <li>Visit that pub between the hours of "isn't it a bit early for a beer?" and "guys... you <em>have</em> to leave now"</li>
    <li>Rate the pub on the following measures (each out of 10):
        <ul>
            <li>Drink choice and quality</li>
            <li>Food choice and quality</li>
            <li>Accommodating nature of the bar staff</li>
            <li>Atmosphere</li>
            <li>Garden quality</li>
            <li>Location</li>
            <li>Availability and quality of seating</li>
            <li>Parking</li>
            <li>Value for money</li>
            <li>Facilities/sport</li>
        </ul>
    </li>
    <li>Document the journey</li>
</ol>
