---
layout: page
title: The Pubs
permalink: /the-pubs/
---
<p class="lead">Here are the pubs we've visited, come back next month to see where we go next!</p>
{% for post in site.posts | limit: 5 %}
<div class="pub row">
    <h2 class="col-xs-12"><a class="name" href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="col-xs-12 date">
        <em>{{ post.date | date: "%b %-d, %Y" }}</em>
    </div>
    <div class="col-xs-12">{{ post.excerpt }}</div>
</div>
{% endfor %}
