header, footer {
    width: 100%;
    color: $background-color;
    background-color: $text-color;
    padding: 10px 0;
    .container {
        padding: 0;
        margin: 0 auto;
        .links {
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    padding: 0;
                }
            }
        }
    }
    a {
        color: $background-color;
        &:hover {
            color: $background-color;
        }
    }
}
footer {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: $brand-color;
    &:hover {
        text-decoration: underline;
        color: $brand-color;
    }
}

.twitter {
    text-align: center;
}
