---
layout: post
title:  "The Maltshovel"
date:   2016-04-23 10:00:00 +0100
categories: pub
excerpt: Today the lads venture to The Maltshovel, read our live blogging of the event here!
---
<p>Today the lads venture to The Maltshovel, read our live blogging of the event here!</p>

<div class="twitter">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23tgpg%20OR%20%40nptongoodpubs%20%23maltshovel" data-widget-id="722853546660499457">Tweets about #tgpg OR @nptongoodpubs #maltshovel</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Mean (max. 10)</th>
            <th>vs. global mean</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Drink choice and quality</td>
            <td>TBC</td>
            <td class="text-danger"></td>
        </tr>
        <tr>
            <td>Food choice and quality</td>
            <td>TBC</td>
            <td class="text-success"></td>
        </tr>
        <tr>
            <td>Accommodating nature of the bar staff</td>
            <td>TBC</td>
            <td class="text-muted"></td>
        </tr>
        <tr>
            <td>Atmosphere</td>
            <td>TBC</td>
            <td class="text-danger"></td>
        </tr>
        <tr>
            <td>Garden quality</td>
            <td>TBC</td>
            <td class="text-success"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td>TBC</td>
            <td class="text-muted"></td>
        </tr>
        <tr>
            <td>Availability and quality of seating</td>
            <td>TBC</td>
            <td class="text-success"></td>
        </tr>
        <tr>
            <td>Parking</td>
            <td>TBC</td>
            <td class="text-danger"></td>
        </tr>
        <tr>
            <td>Value for money</td>
            <td>TBC</td>
            <td class="text-muted"></td>
        </tr>
        <tr>
            <td>Facilities/sport</td>
            <td>TBC</td>
            <td class="text-muted"></td>
        </tr>
        <tr class="total">
            <td>Overall</td>
            <td>TBC</td>
            <td class="text-success"></td>
        </tr>
    </tbody>
</table>
