---
layout: post
title:  "The Test Inn"
date:   2016-04-01 10:00:00 +0100
categories: pub
excerpt: This is an excerpt. This pub doesn't exist. It serves as a test post to make sure that this website works as expected.
---
<p>This is an excerpt. This pub doesn't exist. It serves as a test post to make sure that this website works as expected.</p>

<p>After the excerpt comes the main write up. It's got a good chunk of text that describes in hilarious detail our shenanigans. In place of that, here's some lorem ipsum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam nisl, lobortis non elementum ac, congue ut risus. Pellentesque lorem est, dapibus non orci id, rutrum varius odio. Integer rhoncus quam quis congue iaculis. Proin at nibh id dolor cursus suscipit. Nam dapibus nec justo vel pretium. Praesent faucibus semper turpis et gravida. Integer sed pellentesque enim, vitae vulputate dui. Donec nulla ante, lobortis eget consequat eget, tristique non mi. Phasellus malesuada varius malesuada. Maecenas tincidunt aliquam erat, commodo pretium purus euismod vel. In enim est, sodales sit amet porttitor sit amet, dictum et nisl. Aliquam vel pretium arcu. Nam tempus lacus ut nunc volutpat lobortis. Ut dictum ex massa, sit amet euismod eros dictum ac. Nam pellentesque urna sed laoreet hendrerit. Praesent a justo ut ante euismod iaculis id nec lacus.</p>

<p>Pellentesque vel rhoncus diam. Maecenas erat orci, ornare id sem eu, sollicitudin porttitor urna. Cras et sem mattis, semper leo lobortis, efficitur diam. Ut vitae augue purus. Sed aliquam libero ligula, id ultrices augue ultricies ac. Mauris fringilla a erat ac vehicula. Integer ut augue nec est consequat imperdiet. Aenean feugiat porta diam ac vestibulum. Aliquam erat volutpat. Cras massa elit, dapibus et gravida et, aliquam tincidunt ipsum. Mauris dictum nisl varius, commodo libero id, auctor leo. Vestibulum non facilisis augue. Aliquam tincidunt, sem ac rhoncus condimentum, risus augue eleifend magna, non vulputate arcu quam malesuada mi. Fusce accumsan, nunc auctor cursus interdum, ex ligula lobortis ante, sit amet blandit dui eros ut nisl. Nunc ornare quam et lectus semper hendrerit. Nunc pulvinar dui nec arcu pretium, faucibus pulvinar enim cursus.</p>

<p>Suspendisse potenti. Integer congue viverra erat, eget faucibus enim blandit nec. Mauris consequat nunc sit amet mauris tempus cursus. Duis eu augue pharetra, euismod mauris ut, fermentum elit. Phasellus nunc nisl, ornare non nisi non, fermentum imperdiet mauris. Suspendisse pretium pulvinar eros, ac ultrices tellus tincidunt a. Integer aliquam vitae turpis eget suscipit. Aliquam molestie mi ipsum, eget vestibulum urna semper quis. Maecenas id mollis dolor, et commodo justo. Aenean suscipit est id ante mollis congue. Nam eget tortor consectetur, mattis ante eu, rutrum nibh. Curabitur eget dignissim eros. Nam egestas magna at tortor accumsan molestie.</p>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Mean (max. 10)</th>
            <th>vs. global mean</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Drink choice and quality</td>
            <td>5</td>
            <td class="text-danger">-1</td>
        </tr>
        <tr>
            <td>Food choice and quality</td>
            <td>7</td>
            <td class="text-success">+1</td>
        </tr>
        <tr>
            <td>Accommodating nature of the bar staff</td>
            <td>9</td>
            <td class="text-muted">+0</td>
        </tr>
        <tr>
            <td>Atmosphere</td>
            <td>3</td>
            <td class="text-danger">-1</td>
        </tr>
        <tr>
            <td>Garden quality</td>
            <td>8</td>
            <td class="text-success">+1</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>7</td>
            <td class="text-muted">+0</td>
        </tr>
        <tr>
            <td>Availability and quality of seating</td>
            <td>5</td>
            <td class="text-success">+1</td>
        </tr>
        <tr>
            <td>Parking</td>
            <td>8</td>
            <td class="text-danger">-1</td>
        </tr>
        <tr>
            <td>Value for money</td>
            <td>1</td>
            <td class="text-muted">+0</td>
        </tr>
        <tr>
            <td>Facilities/sport</td>
            <td>9</td>
            <td class="text-muted">+0</td>
        </tr>
        <tr class="total">
            <td>Total</td>
            <td>5</td>
            <td class="text-success">+1</td>
        </tr>
    </tbody>
</table>

<div class="twitter">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23tgpg%20OR%20%40nptongoodpubs%20%23thetestinn" data-widget-id="722899882147651586">Tweets about #tgpg OR @nptongoodpubs #thetestinn</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
