<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="stylesheet" href="/main.css">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
    </head>
    <body>
        <header>
            <nav class="container lead">
                <div class="title col-xs-12 col-md-6">
                    <a href="/">Northampton's Good Pub Guide</a>
                </div>
                <div class="links col-xs-12 col-md-6 text-right">
                    <ul>
                        <li class="col-xs-12 col-md-4"><a href="/the-plan/">The Plan</a></li>
                        <li class="col-xs-12 col-md-4"><a href="/the-people/">The People</a></li>
                        <li class="col-xs-12 col-md-4"><a href="/the-pubs/">The Pubs</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            {{ content }}
        </div>
        <footer>
            <div class="container">
                <div class="title lead col-xs-12 col-sm-6">
                    <a href="/">Northampton's Good Pub Guide</a>
                    <div class="links">
                        <a href="https://twitter.com/nptongoodpubs">@nptongoodpubs</a>
                    </div>
                </div>
                <div class="description text-right col-xs-12 col-sm-6">
                    <p class="">{{ site.description }}</p>
                </div>
            </div>
        </footer>
    </body>
</html>
