---
layout: default
---
<article class="post">
    <div class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </div>
    <div class="post-content">
        {{ content }}
    </div>
</article>
